<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../../../../../../Новая%20папка/Screen-9.6/styles/body.css">
  <link rel="stylesheet" href="../../../../../../../../../Новая%20папка/Screen-9.6/styles/general.css">
  <title>9.6 Screen</title>
</head>
<body>
  <div class="destination">
    <a href="#">
      &#10094;Портфолио
    </a>
  </div>

  <div class="main-section">
    <div class="download-box">
      <img class="image" src="../../../../../../../../../Новая%20папка/Screen-9.6/thumbnails/239263880_0_91_1919_1177_2072x0_60_0_0_7e52974849f4c95ca21f9d93a376b973.jpg">
    </div>
    <div class="video-name">Отчет с открытия скейт-магазина</div>
    <div class="description-block">18 июня проризошло открытие скейт-магазина  в г.Казань, были приглашены местные скейтеры и инфлюенсеры. Классно провели время</div>
    <div class="publication-box">
      <button class="button">Опубликовать</button>
    </div>
  </div>
</body>
</html>