.destination {
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  background-color: rgb(255, 255, 255);
  height:45px;

  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.destination a {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color:black;
  padding:5px 8px;
  transition:.15s;
}
.destination a:active {
  background-color: #D9D9D9;
  border-radius:12px;
}
.label {
  font-size:11px;
}
.icon {
  width:15px;
  height:15px;
}
.fa-plus {
  font-size:30px;
}