<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main</title>
  <link rel="stylesheet" th:href="@{/main/css/general.css}">
  <link rel="stylesheet" th:href="@{/main/css/main.css}">
  <link rel="stylesheet" th:href="@{/main/css/navigation.css}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  
  <main>
    <section class="searching-box">
      <div class="input-wrapper">
        <img src="../../../../../../../Новая%20папка/Application-s-screen/10.0/icons/db8363977145207190d0645e3d02da5e.png" alt="Иконка">
        <input type="text" placeholder="Поиск">
      </div>
    </section>
    <section>
      <nav class="navigation-panel">
        <ul class="menu">
          <li><a href="#">Все</a></li>
          <li><a href="#">Фотография</a></li>
          <li><a href="#">Видео</a></li>
          <li><a href="#">SMM</a></li>
          <li><a href="#">Монтаж</a></li>
        </ul>
      </nav>
    </section>
    <section>
      <div class="grid-box">
        <div class="column-box">

          <div class="information-box">
            <a href="#">
              <div class="profile-info">
                <img class="image" src="../../../../../../../Новая%20папка/Application-s-screen/10.0/thumbnails/e6a3a22e5d81b2e84a7366cf47fdc258.png" alt="">
                <div>Имя и Фамилия</div>
              </div>
            </a>
            <div class="indication-box">
              <div class="box">
                <i class="fa-regular fa-heart"></i>
                <div class="likes">97</div>
              </div>
              <div class="box">
                <i class="fa-solid fa-eye"></i>
                <div class="viewers">350</div>
              </div>
            </div>
          </div>
        </div>

        <div class="column-box">
          <div class="information-box">
            <a href="#">
              <div class="profile-info">
                <img class="image" src="../../../../../../../Новая%20папка/Application-s-screen/10.0/thumbnails/e6a3a22e5d81b2e84a7366cf47fdc258.png" alt="">
                <div>Имя и Фамилия</div>
              </div>
            </a>
            <div class="indication-box">
              <div class="box">
                <i class="fa-regular fa-heart"></i>
                <div class="likes">97</div>
              </div>
              <div class="box">
                <i class="fa-solid fa-eye"></i>
                <div class="viewers">350</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-box">
          <div class="information-box">
            <a href="#">
              <div class="profile-info">
                <img class="image" src="../../../../../../../Новая%20папка/Application-s-screen/10.0/thumbnails/e6a3a22e5d81b2e84a7366cf47fdc258.png" alt="">
                <div>Имя и Фамилия</div>
              </div>
            </a>
            <div class="indication-box">
              <div class="box">
                <i class="fa-regular fa-heart"></i>
                <div class="likes">97</div>
              </div>
              <div class="box">
                <i class="fa-solid fa-eye"></i>
                <div class="viewers">350</div>
              </div>
            </div>
          </div>
        </div>

        <div class="column-box">
          <div class="information-box">
            <a href="#">
              <div class="profile-info">
                <img class="image" src="../../../../../../../Новая%20папка/Application-s-screen/10.0/thumbnails/e6a3a22e5d81b2e84a7366cf47fdc258.png" alt="">
                <div>Имя и Фамилия</div>
              </div>
            </a>
            <div class="indication-box">
              <div class="box">
                <i class="fa-regular fa-heart"></i>
                <div class="likes">97</div>
              </div>
              <div class="box">
                <i class="fa-solid fa-eye"></i>
                <div class="viewers">350</div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-box">
          <div class="information-box">
            <a href="#">
              <div class="profile-info">
                <img class="image" src="../../../../../../../Новая%20папка/Application-s-screen/10.0/thumbnails/e6a3a22e5d81b2e84a7366cf47fdc258.png" alt="">
                <div>Имя и Фамилия</div>
              </div>
            </a>
            <div class="indication-box">
              <div class="box">
                <i class="fa-regular fa-heart"></i>
                <div class="likes">97</div>
              </div>
              <div class="box">
                <i class="fa-solid fa-eye"></i>
                <div class="viewers">350</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-box">
          <div class="information-box">
            <a href="#">
              <div class="profile-info">
                <img class="image" src="../../../../../../../Новая%20папка/Application-s-screen/10.0/thumbnails/e6a3a22e5d81b2e84a7366cf47fdc258.png" alt="">
                <div>Имя и Фамилия</div>
              </div>
            </a>
            <div class="indication-box">
              <div class="box">
                <i class="fa-regular fa-heart"></i>
                <div class="likes">97</div>
              </div>
              <div class="box">
                <i class="fa-solid fa-eye"></i>
                <div class="viewers">350</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <nav class="destination">
        <a href="#">
          <img class="icon" src="../../../../../../../Новая%20папка/Application-s-screen/10.0/icons/bb4f4438fed555fc0de040e50636d17c.png" alt="">
          <div class="label">Главная</div>
        </a>
        <a href="#">
          <img class="icon" src="../../../../../../../Новая%20папка/Application-s-screen/10.0/icons/0eb96ce39ad8a84a8abf4c54adc84557.png" alt="">
          <div class="label">Обсуждения</div>
        </a>
        <a href="#">
          <i class="fa-solid fa-plus" style="color: #1739d9;"></i>
        </a>
        <a href="#">
          <img class="icon" src="../../../../../../../Новая%20папка/Application-s-screen/10.0/icons/1c91c28f7aaab1905ad64360780b1655.png" alt="">
          <div class="label">Академия</div>
        </a>
        <a href="#">
          <img class="icon" src="../../../../../../../Новая%20папка/Application-s-screen/10.0/icons/38cdc08a758915209fbc85fefe484a39.png" alt="">
          <div class="label">Профиль</div>
        </a>
      </nav>
    </section>
  </main>

</body>
</html>