@media (prefers-color-scheme:dark) {
  body {
    background: white;
    color:black;
  }
}
body {
  height:3000px;
}
* {
  padding:0;
  margin:0;
  font-family: 'Roboto Condensed', sans-serif;
}
.destination {
  margin-top:12px;
}
.destination a {
  padding:18px 25px;
  font-size:clamp(34px, 4vw, 45px);
}
.destination a {
  text-decoration: none;
  color:black;
  font-weight:bold;
}
.main-section {
  margin-top:20px;
  margin-right:10px;
  margin-left:10px;
}

.download-box {
  border:2px solid black;
  width:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  height:300px;
  border-radius:20px;
}
#uploadLink {
  color:black;
  text-decoration: underline;
}
.file-input {
  display: none;
}
.upload-link {
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.upload-link:hover {
  text-decoration: underline;
}

.name-project {
  margin-left:5px;
  color:grey;
  padding: 5px 12px;
  font-size: 24px;
  text-decoration: underline;
}
#project-name {
  margin-top:5px;
  margin-bottom:5px;
  text-decoration: underline;
  width:90%;
  border:none;
  padding:12px;
  font-size:27px;
  border-radius: 20px;
}
#description {
  border-width: 1%;
  width:90%;
  border-radius: 20px;
  padding:12px;
  border-color:1px solid grey;
  font-size:18px;
}
.publication-box {
  margin-top:100px;

  display:flex;
  justify-content: center;
  align-items: center;
}
.button {
  width:100%;
  padding:10px 15px;
  border:2px solid grey;
  border-radius: 30px;
  font-size: 18px;
  font-weight:bold;         
  color: grey;
  background-color: white;
  cursor: pointer;
}
.button:active {
  background:rgb(91, 161, 91);
  color:white;
}

